/** Background **/
body{
  background:  gray;
}

div.contenedor {
  background: white;
  width: 1000px;
  margin:20px auto 0 auto;
  padding-bottom: 100px;
  margin-top: 140px;
}

header{
  background: orange;
  margin: 0 0 30px 0;
  padding: 20px 0;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
}
.clearfix:before,
.clearfix:after{
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
h2{
  margin: 0 0 40px 0;
}
nav{
  background: purple;
  margin-top: 40px;
  padding: 20px 0;
}
nav ul{
  padding: 0;
  list-style: none;
}
nav ul li{
  float: left;
  margin-right: 20px
}
nav ul li a{
  color: white;
}

img.logocss{
  width: 100px;
}
section#introduccion{
  display: none;
  display: block;
  background: yellow;
  padding: 80px;
  background-image: url(../img/css3.png), url(../img/html5.png);
  background-repeat: no-repeat;
  background-size: 80px, 80px;
  background-position: 400px 50px, 490px 50px;
}
section#cursos{

  background: orange;
  border: 30px double white;

}
main{
  width: 700px;
  float: left;
}
.gran-promocion{
  display: table;
  width: 100%;
  background-color: yellow;
  height: 300px;
}
.texto-promocion{
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}

.rojo{
  background-color: red;
}

.azul{
  background-color: blue
}
div.padre {
  width: 400px;
  height: 400px;
  position: relative;

}
div.hijo{
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -100px;
  left: 100px;
  border-radius: 50%;
}


aside{
  width: 300px;
  float: right;
}

table{
  background: cyan;
  width: 50%;
  margin-left: 20%;
}

tbody tr td{

  padding: 5px 0;
}

footer{
  background: orange;
  margin-top: 30px;
  padding-top: 40px;
}
footer nav{
  background: transparent;
}
